*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.App{
  background-color: rgb(41, 41, 237);
  height: 5700px;
}
header{
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: fixed;  
  z-index: 999;
}
.menu-list{
  display: flex;
  gap: 20px;
}
.list{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  transition: 1s;
  font-size: 18px;
}
.list:hover{
  color: darkgray;
}
.basket-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 1s;
}
.basket-btn:hover{
  background-color: darkred;
}
.homeCont{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 100px;
  grid-gap: 50px;
  padding-top: 200px;
}

.my-img{
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: 1s;
}
.title{
  position: relative;
  top: 10px;
}
.home{
  width: 400px;
  height: 700px;
  padding: 60px;
  border: solid 1px black;
  text-align: center;
  gap: 20px;  
  border-radius: 30px;
  transition: 1s;
}

.home:hover{
  background-color: black;
  color: white;
  border: solid 1px white;
}
.my-img:hover{
  transform: scale(1.1);
}
.my-btn{
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 1s;
  position: relative;
  top: 30px;
}
.price{
  position: relative;
  top: 10px;
}

.my-btn:hover{
  background-color: darkgreen;
}

footer{
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4600px;
}

.basket{
  position: relative;
  height: 50px;
  right: 20px;
  top: 20px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.boxCont{
  background-color: green;
}
.basket{
  position: fixed;
  z-index: 999;
}
.basket-title{
  z-index: 999;
  padding-top: 100px;
}
.contact-title{
  z-index: 999;
  padding-top: 100px;
}
.about-title{
  z-index: 999;
  padding-top: 100px;
}